//====================
// font-family
//====================
$font-family_alphabet: 'Avenir', '游ゴシック体';
//====================
// font-size
//====================
$font-size_default: 1.6rem;
//====================
// font-color
//====================
$font-color_default: #333;
$font-color_light: #A4ABB0;
$font-color_white: #fff;