
//====================
// import
//====================
@import '../1-setting/mixin';
@import '../1-setting/font';
@import '../1-setting/bgColor';


//====================
// mv
//====================
.mv-container {
  position: static;
  @include sp {
    position: relative;
    height: 50vh;
    margin-bottom: 10rem;
  }
  
  .mv_top-cover {
  position: static;
  display: inline-block;
  @include sp {
    position: absolute;
    top: (70/375)*100vw;
  }
}

  .mv {
    background-image: url('../../img/グループ\ 218.jpg');
    width: 100%;
    height: (750/1280)*100vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @include sp {
      height: 60vh;
      background-position-x: 35%;
    }
  }
}

//====================
// service
//====================

.service {
  width: 100%;
  border: 1.17vw solid #F2F0E8;
  padding: (150/1280)*100vw (70/1280)*100vw (100/1280)*100vw;
  margin-bottom: 13rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  @include sp {
    display: block;
    padding: 0;
    margin: 0 auto;
    border: none;
  }

  .service-intro-container {
    width: (450/1280)*100vw;
    float: left;
    margin: 0 (100/1280)*100vw 15rem 0;
    @include sp {
      width: 100%;
      padding: 2rem;
      margin: 0;
      margin-bottom: 5rem;
    }
    @include tab {
      width: 100%;
      margin-bottom: 10rem;
      float: none;
    }
  }

  .service-intro {
    
    &-title {
      font-size: 2.4rem;
      font-weight: bold;
      letter-spacing: .3rem;
      padding: 2rem 4rem;
      margin-bottom: 5rem;
      display: inline-block;
    }

    &-num {
      font-size: 2.4rem;
      color: $font-color_white;
      letter-spacing: .3rem;
      background-color: $bg-color_mv-cover;
      padding: 2rem;
      margin-bottom: 5rem;
      display: inline-block;
    }

    &-text {
      font-size: 1.4rem;
      font-weight: bold;
      color: #888;
      line-height: 2.5;
      letter-spacing: .3rem;
      @include sp {
        letter-spacing: .1rem;
      }
    }
  }


  .service-list-container {
    width: (500/1280)*100vw;
    background-color: #F2F0E8;
    padding: (70/1280)*100vw;
    margin: 0 0 15rem 0;
    float: left;
    @include pc {
      &:last-of-type {
        position: relative;
        left: 3rem;
      }
    }
    @include sp {
      width: 100%;
      padding: 2rem;
      margin-bottom: 5rem;
      background-color: #F2F0E8;
      display: block;
    }
    @include tab {
      width: 100%;
      float: none;
    }
  }
  .service-list {
    &-title {
      font-size: 2rem;
      font-weight: bold;
      color: $bg-color_mv-cover;
      letter-spacing: .3rem;
      padding-bottom: 6rem;
      text-align: center;
      @include sp {
        font-size: 1.5rem;
        padding-top: 6rem;
      }
      @include tab {
        font-size: 2.5rem;
      }
    }
    &-text {
      font-size: 1.4rem;
      font-size: bold;
      color: #888;
      line-height: 3;
      &:last-of-type {
        padding-bottom: 6rem;
      }
      @include sp {
        padding: 0 3rem;
      }
      @include tab {
        font-size: 2.5rem;
        padding-left: 10rem;
      }
    }
  }

  .buttom-container {

    .buttom-m {
      width: 22vw;
      padding: 2rem (20/1280)*100vw;
      background-color: #202037;
      margin: 0;
      @include sp {
        width: 90%;
        margin: 0 auto 3rem auto;
      }
      @include tab {
        width: 60%;
      }
    }
  }
}


  .fa-quote-left,.fa-quote-right {
    color: #C7C6C3;
    padding: 0 3rem;
  }

  @include sp {
    .br_pc {
      display: none;
    }
  }
  @include tab {
    .br_sp {
      display: none;
    }
  }
  @include pc {
    .br_sp {
      display: none;
    }
  }
